
<form class="form-horizontal" id="main-form" method="POST" enctype="multipart/form-data">
    <script>
        document.getElementById('main-form').action= window.location;
        // alert(window.location)
    </script>
    <fieldset>

        <!-- Form Name -->
        <legend>Create your post</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="title">Product name</label>
            <div class="col-md-5">
                <input id="title" name="title" type="text" placeholder="" class="form-control input-md" required="" value="<%=product.title%>">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">Product description</label>
            <div class="col-md-4">
                <textarea class="form-control" id="description" name="description"><%=product.description%></textarea>
            </div>
        </div>

        <!-- File Button -->
        <div class="mb-3 row">
            <label for="productImages" class="form-label col-sm-2">Product Images</label>
            <div class="col-sm-10 border-2" style="width: 150px; height: 150px; box-sizing: content-box;">
                <%- include("../partials/imageUpload", { fieldName: "productImages", defaultUrl: product.images[0] }); %>
            </div>
        </div>

        <!-- Number input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="price">Product price</label>
            <div class="col-md-5">
                <input id="price" name="price" type="number" class="form-control input-md" required="" value="<%=product.price%>">
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <div class="col-md-8">
                <button id="upload" name="upload" class="btn btn-success" type="submit" >Confirm</button>
            </div>

        </div>

    </fieldset>

</form>
<div class="col-md-9">
    <button id="cancel" name="cancel" class="btn btn-warning"  onclick="window.history.back();">Cancel</button>
    <button id="cancel" name="delete" class="btn btn-danger"  onclick="
            alert('/post/me/delete/:id<%=product._id%>');
            window.location = '/post/me/delete/:id<%=product._id%>'; ">Delete</button>
</div>

