<%tag_id = 0%>



<form class="form-horizontal" id="tagcreator" method="post" action="/tag/add">
    <fieldset>

        <!-- Form Name -->
        <legend>Add Tag</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="tagname<%=tag_id%>">Tag name</label>
            <div class="col-md-4">
                <input id="tagname<%=tag_id%>" name="tagname<%=tag_id%>" type="text" onkeyup="recommend(this.value)" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="tagdescription<%=tag_id%>">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" id="tagdescription<%=tag_id%>" name="tagdescription<%=tag_id%>"></textarea>
            </div>
        </div>




    </fieldset>
</form>
