<div class="mt-5 bg-light p-2 rounded-3 position-relative">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <div class="w-100 position-relative overflow-hidden rounded-3" style="padding-top: 100%;">
                <img src='<%= post.images[0] %>' alt="<%= post.title %>'s thumbnail image"
                     class="img-thumbnail m-0 p-0 position-absolute top-0 start-0"
                     style="object-fit: contain;">

                <% if (post.sold) { %>
                    <div class="bg-success sold-badge text-white w-100 text-center py-2 position-absolute"
                         style="top: 6%;  right: -35%; transform: rotate(45deg); z-index: 15">
                        <strong>SOLD</strong>
                    </div>
                <% } %>

                <div class="w-100 h-100 bg-dark position-absolute top-0 start-0" style="opacity: 50%">
                    <span class="text-light ms-1" style="top: 10px; left: 30px; z-index: 10">
                        <i class="bi bi-camera-fill"></i>
                        <%= post.images.length %>
                    </span>
                </div>

            </div>


        </div>

        <div class="mt-5 mt-sm-0 col-12 col-sm-8 col-md-9 col-lg-10">
            <h3><a class="text-decoration-none" href="/post/<%= post._id %>"><%= post.title %></a></h3>

            <p><%= global.brief(post.description, 100) %></p>

            <h6 class="text-danger"><%= global.currencyFormatter.format(post.price) %></h6>

            <span>
                <i class="bi bi-calendar"></i>
                <span class="ml-2">
                    <%= global.prettyDate(post.createdAt) %>
                </span>
            </span>

            <% if (!request.user) { %>
                <a href="/login">Login to view</a>
            <% } else if (!request.isMe(post.seller)){ %>
                <a class="btn btn-info" role="button" href="/user/<%= post.seller._id %>">Talk to
                    seller</a>
            <% } %>
        </div>
    </div>
    <% if (request.isMe(post.seller)) { %>
        <div class="top-0 end-0">
            <a href="/post/<%= post._id %>/edit" class="btn btn-primary" role="button">
                <i class="bi bi-pencil"></i>
            </a>
        </div>
        <div class="bottom-0 end-0">
            <% if (!request.user.bookmark.includes(post._id)){ %>
                <div id="bookmark<%= post._id %>" class="btn btn-primary" role="button">
                    <i class="bi bi-bookmarks"></i>
                </div>
            <% } else { %>
                <div id="bookmark<%= post._id %>" class="btn btn-warning" role="button">
                    <i class="bi bi-bookmark-check"></i>
                </div>
        </div>

        <% } %>
        <script>
            document.getElementById("bookmark<%= post._id %>").onclick = async () => {
                if (document.getElementById("bookmark<%= post._id %>").className == 'btn btn-primary') {
                    await fetch('/bookmark?user=<%= request.user._id %>&post=<%= post._id %>&action=add')
                        .then(response => {
                            if (response.status == 200) {
                                alert('<%= post.title %> has been added to your bookmark!')
                                document.getElementById("bookmark<%= post._id %>").innerHTML = '<i class="bi bi-bookmark-check"></i>';
                                document.getElementById("bookmark<%= post._id %>").className = "btn btn-warning";
                            } else {
                                alert('fail to add <%= post.title %> to your bookmark!')
                            }
                        });

                } else {
                    await fetch('/bookmark?user=<%= request.user._id %>&post=<%= post._id %>&action=delete')
                        .then(response => {
                            if (response.status == 200) {
                                alert('<%= post.title %> has been removed from your bookmark!')
                                document.getElementById("bookmark<%= post._id %>").innerHTML = '<i class="bi bi-bookmarks"></i>';
                                document.getElementById("bookmark<%= post._id %>").className = "btn btn-primary";
                            } else {
                                alert('fail to remove <%= post.title %> from your bookmark!')
                            }
                        });

                }
            }
        </script>
    <% } %>

</div>
