<div class="row mt-5 mb-5 bg-light">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src='<%= post.images[0] %>' alt="<%= post.title %>'s thumbnail image"
                 class="img-responsive thumbnail-brief">
            <div class="caption">
                <h3><%= post.title %></h3>
                <p class="description"><%= post.description %></p>
                <div class="clearfix">
                    <div class="price pull-left">$<%= post.price %></div>
                    <% if (!request.user) { %>
                        <a href="/login">Login to view</a>
                    <% } else { %>
                        <% if (post.seller.equals(request.user._id)){ %>
                            <a href="/post/<%= post._id %>/edit" class="btn btn-success pull-right"
                               role="button">Edit</a>
                        <% } else { %>
                            <a class="btn pull-left btn-info" role="button" href="/user/<%= post.seller._id %>">Talk to seller</a>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
