<script>
    const {createCanvas, loadImage} = require('canvas')
    const canvas = createCanvas(200, 200)
    const ctx = canvas.getContext('2d')

    async function compress(url) {
        return url;
        // await ctx.drawImage(loadImage(url),200,200)
        // return canvas.toDataURL()
    }
</script>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src='<%= '\\..\\' + product.images[0] %>' alt="..." class="img-responsive thumbnail-brief"
                 onclick="window.location.pathname = '/post/:id'+'<%= product._id %>'">
            <div class="caption">
                <h3><%= product.title %></h3>
                <p class="description"><%= product.description %></p>
                <div class="clearfix">
                    <div class="price pull-left">$<%= product.price %></div>
                    <% if (isSeller){ %>
                        <a href="/fix/:id<%= product._id %>" class="btn btn-success pull-right" role="button">Fix</a>
                    <% } else { %>
                        <a id='remove<%= product._id %>'
                           style="display: none"
                           onclick="
                                   toRemove.push('<%= product._id %>');
                                   toAdd = toAdd.filter((v, i,arr)=>{ v!= '<%= product._id %>';});
                                   this.style.display=none;"
                           class="btn btn-failure pull-left" role="button">Remove</a>
                        <a id='add<%= product._id %>'
                           onclick="
                                   toAdd.push('<%= product._id %>');
                                   toRemove = toRemove.filter((v, i,arr)=>{ v!= '<%= product._id %>';});
                                   document.getElementById('remove<%= product._id %>').style.display='block';"
                           class="btn btn-success pull-right" role="button">Add
                            to
                            Cart</a>

                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
