<div class="mt-5 bg-light p-2 rounded-3 position-relative">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 position-relative">
            <img src='<%= user.avatar %>' alt="<%= user.displayName %>'s avatar"
                 class="img-thumbnail m-0">
        </div>
        <span>
            <i class="bi bi-calendar"></i>
            <span class="ml-2">
                <%= 'Joined ' + global.prettyDate(user.createdAt) %>
            </span>
        </span>
        <div class="mt-5 mt-sm-0 col-12 col-sm-8 col-md-9 col-lg-10">
            <h3><a class="text-decoration-none" href="/user/<%= user._id %>"><%= user.displayName %></a></h3>
            <h5>Score: <%= (await user.calculateScore()).toFixed(2) %></h5>
            <% if (!request.isMe(user._id)) { %>
                <a class="btn btn-info" href="/message/<%= user._id %>">Contact</a>
            <% } %>
        </div>
    </div>


</div>
