<div class="row">
    <div class="col-xl-1 col-lg-2 col-sm-3">
        <div style="width: 50px; height: 50px">
            <%- await include("../avatar", {avatar: comment.author.avatar}); %>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-sm-9">

        <a href="/user/<%= comment.author._id %>"><%= comment.author.displayName %></a>
        <% if (showRating) { %>
            <div class="mb-0">
                <% for (let i = 1; i <= comment.rating; ++i) { %>
                    <i class="bi bi-star-fill text-danger"></i>
                <% } %>
                <% for (let i = comment.rating + 1; i <= 5; ++i) { %>
                    <i class="bi bi-star text-danger"></i>
                <% } %>
            </div>
        <% } %>
        <div class="mb-2">
            <i class="text-secondary"><%= new Date(comment.createdAt).toDateString() %></i>
        </div>
        <h5><%= comment.title %></h5>
        <p><%= comment.content %></p>
    </div>
    <% if (request.isMe(comment.author)) { %>
        <div class="col-lg-2">
            <div class="float-end">
                <%- await include("../../partials/deleteButton", {
                    _id: post._id,
                    target: "/comment/" + comment._id + "/delete",
                    iconButton: true
                }) %>
            </div>
        </div>
    <% } %>
</div>


