<div>
    <h1> You are searching! </h1>
    <div class="row">
        <% posts.forEach(function (post){ %>
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail">
                    <img src="<%= post.imagePaths[0] %>" alt="<%= post.title %>'s thumbnail">
                    <div class="caption">
                        <h3><%= post.title %></h3>
                        <p><%= post.description %></p>
                        <div class="row"></div>
                        <% post.tags.forEach(function (tag) { %>
                            <button type="button" class="btn btn-info"><%= tag %></button>
                        <% }) %>
                    </div>
                    <a href="#" class="d-block btn btn-primary" role="button">Trade now</a>
                    <a href="#" class="d-block btn btn-default" role="button">Add to cart</a></p>
                </div>
            </div>
        <% }) %>
    </div>

</div>
