<div class="container">
    <div class="bg-light rounded p-5 mt-3 mb-3 position-relative">
        <% if (request.isMe(user)) { %>
            <a class="btn btn-info position-absolute end-0 top-0 m-2" href="/me">Edit</a>
        <% } %>
        <div class="text-center">
            <div style="height: 150px; width: 150px" class="container p-0">
                <%- await include("../partials/avatar", {avatar: user.avatar}) %>
            </div>
            <h1 class="mt-3"><%= user.displayName %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="p-3 mt-3 bg-light">
                <h3>Info</h3>
                <h5>Phone number</h5>
                <h6><%= user.phoneNumber %></h6>
                <h5>Rating</h5>
                <h6><%= (await user.calculateScore()).toFixed(2) %></h6>
                <% if (!request.isMe(user)) { %>
                    <a href="/message/<%= user._id %>" class="btn btn-primary">Message</a>
                <% } %>
            </div>
            <div id="charts">
                <div id="all-chart"  class="col-12 col-lg-3"></div>
                <div id="year-chart"  class="col-12 col-lg-3"></div>
                <div id="month-chart"  class="col-12 col-lg-3"></div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="mt-3 mb-3 bg-light">
                <h1 class="text-center">Comments</h1>
                <div class="p-3">
                    <h3>Add more comment</h3>

                    <form action="/user/<%= user._id %>/comment" method="POST">
                        <%- await include("../partials/comment/form_fields", {inputRating: true}) %>
                    </form>
                </div>
                <% for(let i = 0; i < user.comments.length; i++) { %>
                    <% if (user.comments[i]) { %>
                        <%- await include("../partials/comment/listing", {
                            comment: user.comments[i],
                            showRating: true
                        }) %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<% if(statistic && (statistic.in_stock+statistic.sold)>0){%>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var all_data = google.visualization.arrayToDataTable([
            ['status', 'number of post'],
            ['In stock', parseInt(<%=statistic.in_stock%>)],
            ['Sold', parseInt(<%=statistic.sold%>)]
        ]);
        var month_data = google.visualization.arrayToDataTable([
            ['status', 'number of post'],
            ['In stock', parseInt(<%=statistic.this_month.in_stock%>)],
            ['Sold', parseInt(<%=statistic.this_month.sold%>)]
        ]);
        var year_data = google.visualization.arrayToDataTable([
            ['status', 'number of post'],
            ['In stock', parseInt(<%=statistic.this_year.in_stock%>)],
            ['Sold', parseInt(<%=statistic.this_year.sold%>)]
        ]);

        // Optional; add a title and set the width and height of the chart
        var all_options = {'title':'Total', width:250, height:250};
        var month_options = {'title':'This month', width:250, height:250};
        var year_options = {'title':'This year', width:250, height:250};
        // Display the chart inside the <div> element with id="piechart"
        var all_chart = new google.visualization.PieChart(document.getElementById('all-chart'));
        all_chart.draw(all_data, all_options);
        document.getElementById('all-chart').onclick = ()=>{
            window.location = '<%=statistic.link%>'
        }
        var year_chart = new google.visualization.PieChart(document.getElementById('year-chart'));
        year_chart.draw(year_data, year_options);
        document.getElementById('year-chart').onclick = ()=>{
            window.location = '<%=statistic.this_year.link%>'
        }
        var month_chart = new google.visualization.PieChart(document.getElementById('month-chart'));
        month_chart.draw(month_data, month_options);
        document.getElementById('month-chart').onclick = ()=>{
            window.location = '<%=statistic.this_month.link%>'
        }
    }
</script>
<%} else {%>
    <script>
        document.getElementById('charts').innerHTML = '<%=user.displayName%> does not have any post !'
    </script>
<%}%>